#SignIn{
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-color:#143626;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url('../Images/20240120_201954_302.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#SignIn form{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    margin-right: 12em;
    padding:1em 0px;
}
#SignIn form label{
    padding-left: 10px;
}
#SignIn form h1{
    text-align: center;
    font-size: 2.5em;
}
#SignIn form button{
    padding: 10px;
    text-align: center;
    color: #17422d;
    background-color: #70d460;
    border-radius: 12px;
    border: none;
    outline: none;
    font-weight: bold;
}
#SignIn form input,#SignIn form select{
    padding: 12px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.232);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 3px;
    color: white;
}
.secondoption{
    background: url('../Images/20240121_080424_637.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.already-have a{
    color: white;
}